.DS_Store
.idea
Jobscan Output From Initial Check.xlsx
this program initial output.xlsx
detailed_output_summary.xlsx
Jobscan_output_modified.xlsx
results.csv
differences.csv
differences_first_run_analysis.xlsx
detailed_output_summary - Copy.xlsx
Data_From_Job_Postings.xlsx
differences_second_run.xlsx
Mass_extraction.csv
